[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
matplotlib = "*"
pmw = "*"
pydocstyle = "*"
pylint = "*"
radon = "*"
rope = "*"

[packages]
aggdraw = "*"
bezier = "*"
dataslots = "*"
fibonacci-heap-mod = "*"
intervaltree = "*"
orderedset = "*"
panda3d = "*"
pillow = "*"
rtree = "*"

[requires]
python_version = "3.8"
