[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
pydocstyle = "*"
radon = "*"
ipython = "*"
rope = "*"

[packages]
cached-property = "*"
dataslots = "*"
panda3d = "*"
rtree = "*"
aggdraw = "*"
pillow = "*"
fibonacci-heap-mod = "*"

[requires]
python_version = "3.7"
